.app {
  height: 80vh;
  width: 50vw;
  

  &__header {
    color: #fff;
    text-align: center;
  }

  &__wrapper {
    background-color: #444444;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;

    .app__inputs{
      display: flex;
    }
  }

  &__name {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    &-span {
      color: #fff;
      margin-bottom: .5rem;
    }

    &-input {
      border: none;
      outline: 0;
      padding: 0.6rem 2rem;
      border: 2px solid #ff9900;
      border-radius: 0.8rem;

    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    &-span {
      color: #fff;
      margin-bottom: .5rem;
    }

    &-input {
      border: none;
      outline: 0;
      padding: 0.6rem 2rem;
      border: 2px solid #ff9900;
      border-radius: 0.8rem;
    }
  }

  &__button {
    height: 48px;
    width: 64px;
    font-weight: 600;
    display: flex;
    align-items: center;
    align-self: center;
    color: #fff;
    background-color: #ff9900;
    padding: 0 2rem;
    outline: none;
    border: none;
    border-radius: 2rem;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;

    &:hover{
      transform: scale(1.05);
    }
  }
}
